<a href="https://colab.research.google.com/github/NjokiM/UON_CS/blob/main/Comparison_of_Classification_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import libraries
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score
from lightgbm import LGBMClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Data
data = pd.read_csv('/content/sample_data/MAUREEN NJOKI - credit_risk_dataset - MAUREEN NJOKI - credit_risk_dataset.csv')
data.head()

,Unnamed: 0,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,30786,41,40000,RENT,3.0,PERSONAL,A,9200,7.49,0,0.23,N,13
1,29460,44,28000,OWN,0.0,VENTURE,A,3500,8.94,0,0.13,N,12
2,7059,22,56000,RENT,0.0,DEBTCONSOLIDATION,B,7000,11.36,0,0.13,N,2
3,5377,24,45000,MORTGAGE,2.0,PERSONAL,A,7200,7.29,0,0.16,N,4
4,27170,28,55000,RENT,3.0,HOMEIMPROVEMENT,E,15000,17.06,0,0.27,Y,5

In [3]:
data.columns = data.columns.str.replace('Unnamed: 0', 'ID')

In [4]:
columns =list(data.columns)
columns

['ID',
 'person_age',
 'person_income',
 'person_home_ownership',
 'person_emp_length',
 'loan_intent',
 'loan_grade',
 'loan_amnt',
 'loan_int_rate',
 'loan_status',
 'loan_percent_income',
 'cb_person_default_on_file',
 'cb_person_cred_hist_length']

In [5]:
data.describe()

,ID,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,24435.000000,24435.000000,2.443500e+04,23778.000000,24435.000000,22113.000000,24435.000000,24435.000000,24435.000000
mean,16282.282873,27.735543,6.593704e+04,4.778072,9558.179865,11.006377,0.216984,0.169988,5.807858
std,9415.656115,6.333269,6.540541e+04,4.091264,6324.925845,3.241424,0.412200,0.106785,4.066610
min,1.000000,20.000000,4.080000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,8133.500000,23.000000,3.840000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,16296.000000,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,24444.500000,30.000000,7.873500e+04,7.000000,12100.000000,13.470000,0.000000,0.230000,8.000000
max,32580.000000,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [6]:
# Check the column names and datatypes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24435 entries, 0 to 24434
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          24435 non-null  int64
 1   person_age                  24435 non-null  int64
 2   person_income               24435 non-null  int64
 3   person_home_ownership       24435 non-null  object
 4   person_emp_length           23778 non-null  float64
 5   loan_intent                 24435 non-null  object
 6   loan_grade                  24435 non-null  object
 7   loan_amnt                   24435 non-null  int64
 8   loan_int_rate               22113 non-null  float64
 9   loan_status                 24435 non-null  int64
 10  loan_percent_income         24435 non-null  float64
 11  cb_person_default_on_file   24435 non-null  object
 12  cb_person_cred_hist_length  24435 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 2.4+ MB

In [7]:
# col_type = data.dtypes
# col_type
# cat_col = ['cb_person_default_on_file', 'loan_grade', 'loan_intent', 'person_home_ownership']

In [8]:
# Import LabelEncoder
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
data['cb_person_default_on_file']=le.fit_transform(data['cb_person_default_on_file'])

In [9]:
# Split data into train and test sets
X = data.loc[:,['ID','person_income','loan_status']]
y = data['cb_person_default_on_file']
print(X, y)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)

          ID  person_income  loan_status
0      30786          40000            0
1      29460          28000            0
2       7059          56000            0
3       5377          45000            0
4      27170          55000            0
...      ...            ...          ...
24430   9887          45000            0
24431  15196         125000            0
24432  32218         138000            0
24433  25398          84780            0
24434  28690          95000            0

[24435 rows x 3 columns] 0        0
1        0
2        0
3        0
4        1
        ..
24430    0
24431    1
24432    0
24433    0
24434    1
Name: cb_person_default_on_file, Length: 24435, dtype: int64

In [10]:
#Create a Gaussian Classifier
model_GSB = GaussianNB()

# Train the model using the training sets
model_GSB.fit(X_train,y_train)

# making predictions on the testing set
y_pred = model_GSB.predict(X_test)
  
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 82.1579593507025

In [11]:
from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100)  
  
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(X_train, y_train)
  
# performing predictions on the test dataset
y_pred_clf = clf.predict(X_test)
  
# metrics are used to find accuracy or error
from sklearn import metrics  
print()
  
# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred_clf))

ACCURACY OF THE MODEL:  0.7638794161778748

In [12]:
from sklearn.neighbors import KNeighborsClassifier
 
knn = KNeighborsClassifier(n_neighbors = 15)
 
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
 
# Predictions and Evaluations
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred_knn))
 
print(classification_report(y_test, y_pred_knn))

[[6036   14]
 [1276    5]]
              precision    recall  f1-score   support

           0       0.83      1.00      0.90      6050
           1       0.26      0.00      0.01      1281

    accuracy                           0.82      7331
   macro avg       0.54      0.50      0.46      7331
weighted avg       0.73      0.82      0.75      7331